.jumbotron  
  %center  
    = form_for @company do |f|
      %br
        .form-label
          = f.label :avatar
        .form-group
          = f.file_field :avatar, class: "form-control"
        .form-label
          = f.label :name
        .form-group
          = f.text_field :name, class: "form-control", placeholder: "Please input the name of your restaurant"
        .form-label
          = f.label :number
        .form-group
          = f.text_field :number, class: "form-control", placeholder: "(000)-000-0000"
        .form-label
          = f.label :email
        .form-group 
          = f.text_field :email, class: "form-control", placeholder: "Your restaurant's email address"
        .form-label
          = f.label :address
        .form-group
          = f.text_area :address, class: "form-control", placeholder: "Where are you located?"
        = f.submit "Submit", class: "btn btn-lg btn-warning"