%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li.active{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item
      .fill{:style => "background-image:url('http://www.wallpapersonview.com/wallpapers/2/food_pizza-01.jpg');"}
      .carousel-caption
        %h2 Pizza One
    .item.active
      .fill{:style => "background-image:url('http://www.wallpapersonview.com/wallpapers/2/food_pizza-03.jpg');"}
      .carousel-caption
        %h2 Search One and Done
    .item
      .fill{:style => "background-image:url('http://www.wallpapersonview.com/wallpapers/2/food_pizza-02.jpg');"}
      .carousel-caption
        %h2 Dedicated To You
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next

.container
  %header.jumbotron
    %p
    %br
    %br
      = text_field_tag '', '', class: "company_search"
      = link_to "Search Restaurants", 'javascript:void(0);', class: "search_companies btn btn-primary"
  .row.search_list

  %hr/
  .row
    .col-lg-12
      %h3 Our Providers
      - @companies.each do |company|
        .col-md-3.col-sm-6.hero-feature
          .row.text-center
            .thumbnail
              = image_tag company.avatar.url, class: "img-logo"
              .caption
                %h3
                  = link_to company.name, company_path(company)
                %a.btn.btn-primary
                  = company.number
%center
  - if can? :create, Company
    = button_to "Add your restaurant to our group!", new_company_path, class: "btn btn-lg btn-primary", method: :get
  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p TotallyNotCopyright © PizzaOne 2014