%body
  .container
    .row
      .col-md-3
        %p.lead
          = @company.name
        .list-group
          %a.list-group-item{:href => "#"}= @company.number

          %a.list-group-item{:href => "mailto:#{@company.email}"}
            .glyphicon.glyphicon-envelope
              = @company.email
          %a.list-group-item{:href => "#"}= @company.address
          %br
          %strong
            = image_tag "http://maps.google.com/maps/api/staticmap?size=265x400&sensor=false&markers=#{@company.latitude}%2C#{@company.longitude}&}"
            %br
            %br
            = image_tag "http://maps.googleapis.com/maps/api/streetview?size=265x250&location=#{@company.latitude}%2C#{@company.longitude}&}"
      .col-md-9
        .row.carousel-holder
          .col-md-12
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              %ol.carousel-indicators
                %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                %li.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              .carousel-inner
                .item
                  %img.slide-image{:alt => "", :src => "/assets/pizzashow1.jpg"}
                .item.active
                  %img.slide-image{:alt => "", :src => "/assets/pizzashow2.jpg"}
                .item
                  %img.slide-image{:alt => "", :src => "/assets/pizzashow3.jpg"}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.glyphicon.glyphicon-chevron-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.glyphicon.glyphicon-chevron-right
                .row

      - @company.deals.each do |deal|
        .col-sm-4.col-lg-4.col-md-4
          .thumbnail
            = image_tag deal.avatar.url, class: "img-show"
            .caption
              %h4.pull-right
                ="$#{deal.price}"
              %h4
                = link_to deal.name, company_deal_path(@company, deal)
              %p
                = deal.description

      .col-sm-4.col-lg-4.col-md-4
        %h4
          %a{:href => "#"} Add New Deal?
        %p
          Admins will see this stuff here
          
        = button_to "Add New Deal", new_company_deal_path(@company), class: "btn btn-warning", method: :get
  .container
    %hr/
    / Footer
    %footer
      .row
        .col-lg-12
          %p Copyright © Your Website 2014
  / /.container