.jumbotron  
  %center
    = form_for [@company, @deal] do |f|
    - if @deal.errors.any?
      #error_explanation
        %h2= "#{pluralize(@deal.errors.count, "error")} prohibited this deal from being saved:"
        %ul
          - @deal.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :name
      = f.text_field :name
    .form-group
      = f.label :description
      = f.text_field :description
    .form-group
      = f.label :price
      = f.number_field :price
    .form-group
      = f.submit 'Save'
