%body
  .container
    .row
      .col-md-3
        %p.lead
          = image_tag @deal.avatar.url, class: "img-show"
          %br
          = link_to "Edit This Menu Item", edit_company_deal_path(@company, @deal), class: "btn btn-warning btn-xs"
          = link_to "Delete This Menu Item", company_deal_path(@company, @deal), class: "btn btn-danger btn-xs", method: :delete
          %br  
        .list-group
          %a.list-group-item.active{:href => "#"}=@company.name
          %a.list-group-item{:href => "#"}= @company.number
          %a.list-group-item{:href => "#"}= @company.address
          %strong
            = image_tag "http://maps.google.com/maps/api/staticmap?size=265x400&sensor=false&markers=#{@company.latitude}%2C#{@company.longitude}&}"
            %br
            %br
            = image_tag "http://maps.googleapis.com/maps/api/streetview?size=265x250&location=#{@company.latitude}%2C#{@company.longitude}&}"
            %br
            %br

      .col-md-9
        .thumbnail
          %img.img-responsive{:alt => "", :src => "/assets/showheader.jpg"}/
          .caption-full
            %h4.pull-right
              =to_money(@deal.price)
            %h4
              =@deal.name
            %p 
              %strong
                =@deal.description

        .well
          .text-right
            = link_to "Add Your Comment/Review!", "javascript:void(0);", class: "btn btn-success"
          %br
          %br
          %ul
            - @deal.comments.each do |comment|
              - if comment.content
                %li.divider
                  .glyphicon.glyphicon-user
                  = comment.content
                  .pull-right
                    = link_to "[Delete]", delete_comment_company_deal_path(@company, @deal, comment_id: comment.id), method: :delete
                .comment-divide
                  %br
            

          = form_for @comment, url: create_comment_company_deal_path(@company, @deal) do |f|
            .comment-label
              = f.label :content
            = f.text_area :content, :cols => "90", :rows => "5"
            %br
            = f.submit "Submit", class: "btn btn-lg btn-success"
  / /.container
  .container
    %hr/
    / Footer
    %footer
      .row
        .col-lg-12
          %p Copyright © Your Website 2014
  / /.container 